{{ form_start(form) }}
    <div class="row">
        <div class="col-9">{{ form_widget(form.tag) }}</div>
        <div class="col-3"><button type="submit" class="btn p-1"><i class="icon-cheveron-outline-right"></i></button></div>
    </div>
{{ form_end(form) }}