{% extends 'base.html.twig' %}

{% block title %}Validate Order{% endblock %}

{% block body %}
    <h1>Validate Order</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Validate Order</button>
    {{ form_end(form) }}
{% endblock %}